.todoCard__container {
  margin-top: 20px;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.todoCard__text p {
  margin: 0;
}

.todoCard__details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  margin-bottom: 10px;
}

.todoCard__details img {
  width: 30px;
}

.todoCard__tag {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todoCard__btn {
  margin-bottom: 5px;
  width: fit-content;
}

.todoCard__btn select {
  background-color: #06cdf4;
  cursor: pointer;
}

.todoCard__date {
  display: flex;
  justify-content: space-between;
}

img {
  cursor: pointer;
}
