.tags__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.tags__container input {
  height: 45px;
  width: 100%;
}

.tags__container button {
  height: 45px;
  width: 50px;
  background-color: #224b8b;
  border-style: none;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}
.tags__content {
  display: flex;
}
.tag__items {
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
}

#icon {
  color: white;
  font-size: 20px;
}

.tag__items > * {
  margin-left: 5px;
}
